<div class="d-flex justify-content-center mt-5" *ngIf="animation">
  <div class="spinner-border ">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<table class="table">
  <thead *ngIf="!animation">
    <tr>
      <th *ngFor="let employeeHeader of employeeHeaders">
        {{employeeHeader}}
      </th>
    </tr>
  </thead>
  <tbody>


    <tr
      *ngFor="let employee of employees; let i = index"
      (click)="onSelectingEmployee(employee)"
    >
      <th>{{i+1}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{parseJsonDate(employee.joinDate).toDateString()}}</td>
      <td>{{employee.gender}}</td>
      <td>{{(employee.supervisor)?(employee.supervisor.name):"None"}}</td>
    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>
