<div
  class="list-group-item leave-wrapper"
  (click)="detailedView=!detailedView"
>
  <div class="row justify-content-between">
    <div class="col-4">
      {{leave.startDate.toDateString()}}
    </div>
    <div class="col-2">
      {{leave.leaveStatus}}
    </div>
    <div class="col-2">
      {{nofDays}} days
    </div>
  </div>
</div>

<div class="container" *ngIf="detailedView">
  <table class="table table-bordered" >
    <tr>
      <td><span>Leave Status</span> {{leave.leaveStatus}}</td>
      <td><span>Days</span> {{nofDays}}</td>
    </tr>
    <tr>
      <td><span>From</span> {{leave.startDate.toDateString()}}</td>
      <td><span>To</span> {{leave.startDate.toDateString()}}</td>
    </tr>
    <tr>
      <td colspan="2"><span>Reason</span> {{leave.leaveDescription}}</td>
    </tr>
  </table>

  <br>
</div>
