<div class="row justify-content-around">
  <div class="col-6">
    <form class="mt-3" [formGroup]="applyLeaveForm" (ngSubmit)="onApplyLeave()" >

      <div class="form-group">
        <label for="leaveType">Leave Type</label>
        <select
          id="leaveType"
          class="form-control"
          formControlName="leaveType"
        >
          <option *ngFor="let leaveType of leaveTypes" [value]="leaveType">
            {{leaveType}}
          </option>
        </select>
        <span
          class="form-text"
          *ngIf="applyLeaveForm.get('leaveType').invalid && applyLeaveForm.get('leaveType').touched"
        >
      This field is required
    </span>
      </div>

      <div class="form-group">
        <label for="leaveDescription">Leave Description</label>
        <textarea
          id="leaveDescription"
          cols="30"
          rows="5"
          class="form-control"
          formControlName="leaveDescription"
        >

        </textarea>
        <span
          class="form-text"
          *ngIf="applyLeaveForm.get('leaveDescription').invalid && applyLeaveForm.get('leaveDescription').touched"
        >
          This field is required
        </span>
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <div class="input-group">
          <input
            class="form-control"
            #d1="ngbDatepicker"
            ngbDatepicker
            placeholder="yyyy-mm-dd"
            name="dateOfBirth"
            formControlName="startDate"
            id="startDate"
            [minDate]="minStartDate"
          >
          <div class="input-group-append">
            <button class="btn"  type="button" (click)="d1.toggle()">
              <i class="fas fa-calendar fa-lg"></i>
            </button>
          </div>
        </div>
        <span
          class="form-text"
          *ngIf="applyLeaveForm.get('startDate').invalid && applyLeaveForm.get('startDate').touched"
        >
          Please enter a valid date
        </span>
      </div>

      <div class="form-group">
        <label for="endDate">End Date</label>
        <div class="input-group">
          <input
            class="form-control"
            #d2="ngbDatepicker"
            ngbDatepicker
            placeholder="yyyy-mm-dd"
            formControlName="endDate"
            id="endDate"
            [minDate]="applyLeaveForm.get('startDate').value"
          >
          <div class="input-group-append">
            <button class="btn"  type="button" (click)="d2.toggle()">
              <i class="fas fa-calendar fa-lg"></i>
            </button>
          </div>
        </div>
        <span
          class="form-text"
          *ngIf="applyLeaveForm.get('endDate').invalid && applyLeaveForm.get('endDate').touched"
        >
          Please enter a valid date
        </span>
      </div>


      <button
        class="btn"
        *ngIf="!isLoading"
        type="submit"
        [disabled]="applyLeaveForm.invalid"
      >
        <i class="fas fa-file"></i>
        Apply Leave
      </button>
    </form>

    <ngb-alert
      class="mt-5"
      [type]="messageType"
      (close)="closeAlert()"
      *ngIf="show"
    >
      {{alertMessage}}
    </ngb-alert>

    <div class="d-flex justify-content-center mt-5" *ngIf="isLoading">
      <div class="spinner-border ">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>
</div>
