<div class="row mt-5 justify-content-center">
  <div class="col-4">
    <div class="card text-center shadow-sm">
      <div class="card-header">
        Employee details
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{employee.name}}
        </h5>
        <h5 class="card-title">
          {{employee.email}}
        </h5>
        <h5>
          Supervisor: {{(employee.supervisor)?(employee.supervisor.name):"None"}}
        </h5>

        <button class="btn btn-primary" (click)="onEditEmployee()">
          Edit
        </button>
        <button class="btn btn-primary ml-3" (click)="onRemoveEmployee()">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <ngb-alert
      class="mt-4"
      type="danger"
      *ngIf="error"
      (close)="closeAlert()"
    >
      {{error}}
    </ngb-alert>
  </div>
</div>
