<div class="row justify-content-around">
  <div class="col-6">
    <form class="mt-3" [formGroup]="leaveGrantForm" (ngSubmit)="onLeaveGrant()" >

      <div class="form-group">
        <label for="workDescription">Work Description</label>
        <textarea
          id="workDescription"
          cols="30"
          rows="5"
          class="form-control"
          formControlName="workDescription"
        >

        </textarea>
        <span
          class="form-text"
          *ngIf="leaveGrantForm.get('workDescription').invalid && leaveGrantForm.get('workDescription').touched"
        >
          This field is required
        </span>
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <div class="input-group">
          <input
            class="form-control"
            #d1="ngbDatepicker"
            ngbDatepicker
            placeholder="yyyy-mm-dd"
            name="dateOfBirth"
            formControlName="startDate"
            id="startDate"
            [minDate]="minDate"
          >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"  type="button" (click)="d1.toggle()">
              <i class="fas fa-calendar fa-lg"></i>
            </button>
          </div>
        </div>
        <span
          class="form-text"
          *ngIf="leaveGrantForm.get('startDate').invalid && leaveGrantForm.get('startDate').touched"
        >
          Please enter a valid date
        </span>
      </div>

      <div class="form-group">
        <label for="endDate">End Date</label>
        <div class="input-group">
          <input
            class="form-control"
            #d2="ngbDatepicker"
            ngbDatepicker
            placeholder="yyyy-mm-dd"
            formControlName="endDate"
            id="endDate"
            [minDate]="leaveGrantForm.get('startDate').value"
            (dateSelect)="updateDays()"
          >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"  type="button" (click)="d2.toggle()">
              <i class="fas fa-calendar fa-lg"></i>
            </button>
          </div>
        </div>
        <span
          class="form-text"
          *ngIf="leaveGrantForm.get('endDate').invalid && leaveGrantForm.get('endDate').touched"
        >
          Please enter a valid date
        </span>
      </div>

      <div class="form-group">
        <label for="days">Days</label>
        <input
          type="number"
          id="days"
          class="form-control"
          formControlName="days"
          disabled
        >
        <span
          class="form-text"
          *ngIf="leaveGrantForm.get('days').invalid && leaveGrantForm.get('days').touched"
        >
          This field is required
        </span>
      </div>


      <button
        class="btn btn-info"
        *ngIf="!isLoading"
        type="submit"
        [disabled]="leaveGrantForm.invalid"
      >
        <i class="fas fa-file"></i>
        Apply Leave Grant
      </button>
    </form>

    <ngb-alert
      class="mt-5"
      [type]="messageType"
      (close)="show=false"
      *ngIf="show"
    >
      {{alertMessage}}
    </ngb-alert>

    <div class="d-flex justify-content-center mt-5" *ngIf="isLoading">
      <div class="spinner-border ">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>
</div>
